#! When adding additional environment variables, the schema in "/src/env.js"
#! should be updated accordingly.

# Next Auth
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Uploadthing
UPLOADTHING_TOKEN=""

# Prisma
DATABASE_URL=""
DIRECT_URL=""